@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-neutro-0: #fafafa;
  --color-neutro-1: #f5f5f5;
  --color-neutro-2: #e5e5e5;
  --color-neutro-3: #d4d4d4;
  --color-neutro-4: #a3a3a3;
  --color-neutro-5: #737373;
  --color-neutro-6: #525252;
  --color-neutro-7: #404040;
  --color-neutro-8: #262626;
  --color-neutro-9: #171717;
  --color-neutro-10: #0a0a0a;

  --color-0: #eef2ff;
  --color-1: #e0e7ff;
  --color-2: #c7d2fe;
  --color-3: #a5b4fc;
  --color-4: #818cf8;
  --color-5: #6366f1;
  --color-6: #4f46e5;
  --color-7: #4338ca;
  --color-8: #3730a3;
  --color-9: #312e81;
  --color-10: #1e1b4b;

  --color-blanco: #ffffff;
  --color-negr: #000000;

  --color-bg: rgba(0, 0, 0, 0.4);

  --fuente-principal: "Inter", sans-serif;
}

body {
  font-family: var(--fuente-principal);
  background: var(--color-blanco);
}

ul {
  list-style: none;
}

li {
  color: var(--color-neutro-9);
}

a {
  text-decoration: none !important;
  color: var(--color-neutro-9);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: var(--fuente-principal);
  background-color: var(--color-5);
  color: var(--color-blanco);
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  border-radius: 8px;
  border: 2px solid var(--color-5);
  padding: 10px 12px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--fuente-principal);
  background-color: var(--color-blanco);
  color: var(--color-9);
}

textarea {
  border-radius: 8px;
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--fuente-principal);
  background-color: var(--color-4);
  color: var(--color-10);
}

input:focus,
textarea:focus {
  outline: none;
}
